<!DOCTYPE html>
{% load mytags %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/todo.css' %}">
</head>
<body>
<h1>TODO LIST</h1>
<a href="{% url 'todo new view' %}">New</a>
<hr>
{% if todos is not None %}
    {% for todo in todos %}
        {% if not todo.finish %}
            <a href="{% url 'todo content' todo.uuid %}">
                <h2>任务: {{ todo.title }}</h2>
            </a>
            <p>任务ID: {{ todo.uuid }}</p>
            <hr>
        {% else %}
            <a href="{% url 'todo content' todo.uuid %}">
                <p>任务: {{ todo.title }}</p>
            </a>
            <hr>
        {% endif %}
    {% endfor %}
{% endif %}
</body>
</html>