<!DOCTYPE html>
{% load mytags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>TODO LIST</h1>
<a href="{% url 'todo new view' %}">New</a>
<hr>
{% if todos is not None %}
    {% for todo in todos %}
        <h2>TITLE: {{ todo.title }}</h2>
        <h2>CONTENT: {{ todo.content }}</h2>
        <h2>CREATE TIME: {% to_date todo.create_time %}</h2>
        <h2>EXPIRED TIME: {% to_date todo.expired_time %}</h2>
        <h2>REPEAT: {{ todo.repeat }}</h2>
        <hr>
    {% endfor %}
{% endif %}
</body>
</html>