<!DOCTYPE html>
{% load mytags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/todo.css' %}">
</head>
<body>
<h1>TODO LIST</h1>
<a href="{% url 'todo new view' %}">New</a>
<hr>
{% if todos is not None %}
    {% for todo in todos %}
        <a href="{% url 'todo content' todo.uuid %}">
            <h2>TITLE: {{ todo.title }}</h2>
            <h2>TITLE: {{ todo.uuid }}</h2>
        </a>
        <hr>
    {% endfor %}
{% endif %}
</body>
</html>