<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content</title>
    <link rel="stylesheet" href="{% static 'css/pure-css/base-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pure-css/forms-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pure-css/buttons-core-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pure-css/buttons-min.css' %}">
</head>
<body>
<h1>任务简报</h1>
<h2>{{ todo.uuid }}</h2>
<hr>
<h2>Title:</h2>
<p>{{ todo.title }}</p>
<h2>Content:</h2>
<p>{{ todo.content }}</p>
{% csrf_token %}
</body>
</html>