<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Content</title>
    <link rel="stylesheet" href="{% static 'css/pure-css/base-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pure-css/forms-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pure-css/buttons-core-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pure-css/buttons-min.css' %}">
</head>
<body>
<h1>{{ todo.id }}</h1>
<h1>{{ todo.uuid }}</h1>
<h1>{{ todo.title }}</h1>
<h1>{{ todo.content }}</h1>
{% csrf_token %}
</body>
</html>