img {
    width: 50%;
}

body {
    margin: auto 20%;
    text-align: center;
    background-color: black;
    color: white;
}

.main {
    background-color: #222;
    margin: 0 5rem;
    padding: 5rem;
}

p {
    color: white;
    text-align: left;
    font-family: "sans-serif";
}

.tips {
    text-align: left;
}

.error {
    background-color: yellow;
    color: red;
    font-weight: 800;
}

a.blog-btn {
    width: 8rem;
}