img {
    width: 50%;
}

body {
    background-color: black;
}

div {
    background-color: #222;
    text-align: center;
    margin: 0 5rem;
    padding: 5rem;
}

p {
    color: white;
    text-align: left;
    font-family: "sans-serif";
}