body {
    background-color: black;
    font-family: sans-serif;
}

div {
    text-align: center;
    position: relative;
}

img {
    width: 50%;

}

/* img animation */
div {
    animation: fade_in 3s;
    -o-animation: fade_in 3s;
    -moz-animation: fade_in 3s;
    -webkit-animation: fade_in 3s;
}

h1, h2 {
    text-align: center;
    color: white;
}

@keyframes fade_in {
    0% {
        opacity: 0.5;
        top: 20%;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@-o-keyframes fade_in {
    0% {
        opacity: 0;
        top: 20%;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@-moz-keyframes fade_in {
    0% {
        opacity: 0;
        top: 20;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}

@-webkit-keyframes fade_in {
    0% {
        opacity: 0;
        top: 20%;
    }

    100% {
        opacity: 1;
        top: 0;
    }
}
