<!DOCTYPE html>
{% load staticfiles %}
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>BGZ TECH</title>
    <link rel="stylesheet" href="{% static "css/editor.css" %}">
    <link rel="stylesheet" href="{% static "mdeditor/css/editormd.min.css" %}"/>
</head>
<body>
<div id="editor">
    <textarea style="display: none;">safsafsadfas</textarea>
</div>
</body>
<script src="{% static "js/jquery.js" %}"></script>
<script src="{% static "mdeditor/editormd.min.js" %}"></script>
<script type="text/javascript">
    $(function () {
        let editor = editormd("editor", {
            width: "100%",
            height: 500,
            htmlDecode: true,
            path: "{% static "mdeditor/lib/" %}",  // Autoload modules mode, codemirror, marked... dependents libs path
        });
    });
</script>
</html>