<!DOCTYPE html>
{% load staticfiles %}
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>BGZ TECH</title>
</head>
<body>
<form action="{% url "add new word" %}" autocomplete="off" method="post">
    {% csrf_token %}
    <label>
        单词
        <input type="text" name="word" required autofocus>
    </label>
    <label>
        词性
        <input type="text" name="part_of_speech" required>
    </label>
    <label>
        词义
        <input type="text" name="paraphrase" required>
    </label>
    <label>
        例句
        <textarea name="example"></textarea>
    </label>
    <button type="submit">Submit</button>
</form>
</body>
</html>