<!DOCTYPE html>
{% load staticfiles %}
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>BGZ TECH</title>
    <link rel="stylesheet" href="{% static "css/homepage.css" %}">
    <link rel="stylesheet" href="{% static 'css/pure-css/base-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pure-css/forms-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pure-css/buttons-core-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pure-css/buttons-min.css' %}">
</head>
<body>


<div class="main">

    <form class="pure-form" action="{% url "log in check" %}" method="post" autocomplete="off">
        <label>
            账号
            <input class="user" type="text" name="username" required>
        </label>
        <label>
            密码
            <input class="user" type="password" name="password" maxlength="20" required>
        </label>
        <button class="pure-button pure-button-primary" type="submit">SUBMIT</button>
        {% csrf_token %}
    </form>

    {% if error_msg %}
        <ul class="error">
            {% for i in error_msg %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul>

    {% endif %}
</div>
</body>
</html>