<!DOCTYPE html>
{% load staticfiles %}
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>BGZ TECH</title>
    <link rel="stylesheet" href="{% static "css/homepage.css" %}">
</head>
<body>


<div class="main">

    <form action="{% url "register" %}" method="post">
        <label>
            账号
            <input type="text" name="username" required>
        </label>
        <label>
            密码
            <input type="password" name="password" maxlength="20" required>
        </label>
        <button type="submit">SUBMIT</button>
        {% csrf_token %}
    </form>

    {% if error_msg %}
        <ul class="error">
            {% for i in error_msg %}
                <li>{{ i }}</li>
            {% endfor %}
        </ul>

    {% endif %}

    <div class="tips">
        <p>密码要求</p>
        <ol>
            <li>不得少于6位数</li>
            <li>不得多于20位数</li>
            <li>不可以是纯数字</li>
            <li>不可以用简单密码</li>
        </ol>
    </div>
</div>
</body>
</html>